services:
  clinica:
    build: .
    container_name: clinica
    command: node dist/clinicServer.js --port 3001 --name A --data datasets/clinicA.json --peer http://clinicb:3002
    ports:
      - "3001:3001"

  clinicb:
    build: .
    container_name: clinicb
    command: node dist/clinicServer.js --port 3002 --name B --data datasets/clinicB.json --peer http://clinica:3001
    ports:
      - "3002:3002"
